.TodoListItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px ;
}

.TodoListItem input {
  width: 20px;
}

.TodoListItem .content {
  flex: 1;
}

.TodoListItem .date {
  font-size: 14px;
  color : gray;
}

.TodoListItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}